.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  font-family: Arial, serif;
  font-weight: 400;
  color: rgb(16, 24, 32);
  text-align: left;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 12px;
  border: 1px solid rgb(16, 24, 32);
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(16, 24, 32);
    opacity: 0.75;
  }

  &:focus, &:active {
    outline: none;
  }
}

.error {
  color: #E73B1E;
  margin: 1em auto;
}

.download-link {
  margin: 1em auto;
}
